.modalWrapper {
    height: 80vh;
    width: 90vw;
    display: block;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.modalTitle {
    text-align: center;
    display: block;
    color: black;
}

.swipeIcon {
    overflow: visible;
    width: 28px;
    height: 34px;
}

.swipeIcon .SwipeArrow {
    animation: pulse-arrow 2s ease-out infinite;
}

.swipeIcon {
    animation: hand-move 2s ease-out infinite;
}

@keyframes pulse-arrow {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(0.25em);
        opacity: 1;
    }
    75% {
        transform: translateX(0.25em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes hand-move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0.5em);
    }
    100% {
        transform: translateX(0);
    }
}