.ReviewsWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #e3e3e3;
    background-image: url(../../img/workbg.png);
    background-repeat: no-repeat;
    background-position: calc(100vw - 64vw);
    background-size: 40%;
}

.ReviewsContent {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1328px;
    padding: 150px 20px;
}

.ReviewsTitle {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
}

.ReviewsSubTitle {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

.ReviewsBlockItem1 {
    width: 350px;
    background-color: rgba(236, 236, 236, 0.93);
    border-radius: 2px;
    margin: 15px;
    margin-top: 180px;
    height: 460px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.ReviewsBlockItem2 {
    width: 445px;
    background-color: rgba(236, 236, 236, 0.93);
    border-radius: 2зx;
    margin: 35px;
    height: 340px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.ReviewsBlockItem3 {
    width: 350px;
    background-color: rgba(236, 236, 236, 0.93);
    border-radius: 2px;
    margin: 35px;
    height: 276px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.ReviewsBlockItem2 img {
    width: 80px;
    height: 80px;
}

.ReviewsBlockItem1 img {
    width: 80px;
    height: 80px;
}

.ReviewsBlockItem3 img {
    width: 80px;
    height: 80px;
}