.MainWrapper {
    width: 100%;
    height: 100%;
    background-color: #E3E3E3;
}

.MainContent {
    width: 100%;
    height: 100%;
    max-width: 1328px;
    height: 462px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MainContentText {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 300;
    color: black;
    margin: auto;
}

.MainContentImage img {
    align-items: baseline !important;
}

.MainContentTitle {
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 35px;
    width: 100%;
    max-width: 1328px;
    text-align: left;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 300;
}

.MainContentCards {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1328px;
    justify-content: space-between;
}

.MainContentCard {
    width: 160px;
    margin: 0 auto;
}

.MainContentCardsTextWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1328px;
    justify-content: space-between;
}

.MainContentCardText {
    width: 145px;
    padding: 5px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 968px) {
    .MainContentText {
        width: 500px;
        padding-top: 1px;
    }
    .MainContent {
        display: block;
        height: 100%;
    }
    .MainContentImage {
        width: 550px;
        margin: 0 auto;
    }
    .MainContentImage img {
        width: 550px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 568px) {
    .MainContentText {
        width: 350px;
        font-size: 24px;
        padding-top: 1px;
    }
    .MainContentImage {
        width: 350px;
        margin: 0 auto;
    }
    .MainContentImage img {
        width: 350px;
        margin: 0 auto;
    }
    .MainContentCard img {
        display: block;
        margin: 0 auto;
        width: 130px;
    }
}

@media screen and (max-width: 368px) {
    .MainContentText {
        width: 300px;
        font-size: 24px;
        padding-top: 1px;
    }
    .MainContentImage {
        width: 300px;
        margin: 0 auto;
    }
    .MainContentImage img {
        width: 300px;
        margin: 0 auto;
    }
    .MainContentCard img {
        display: block;
        margin: 0 auto;
        width: 100px;
    }
}