.AboutWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #E3E3E3;
}

.AboutContent {
    width: 100%;
    height: 100%;
    max-width: 1328px;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 40px;
    z-index: 2;
}

.AboutImage {
    margin: auto;
    align-items: center;
    z-index: 1;
}

.AboutTitle {
    font-size: 48px;
    font-family: Roboto;
    font-weight: 300;
}

@media screen and (max-width: 1268px) {
    .AboutContent {
        display: block;
        padding: 10px;
        text-align: left;
    }
    .AboutImage {
        display: block;
        width: 700px;
        margin: 0 auto;
    }
    .AboutImage img {
        display: block;
        width: 700px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .AboutImage {
        width: 100%;
        max-width: 500px;
    }
    .AboutImage img {
        width: 100%;
        max-width: 500px;
    }
}