.ContactWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #e3e3e3;
    background-image: url(../../img/workbg.png);
    background-repeat: no-repeat;
    background-position: calc(100vw - 68vw);
}

.ContactContent {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1328px;
}

.Button {
    width: 230px;
    height: 60px;
    background-color: #497577;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
}

.Button a {
    text-decoration: none;
    color: #f1f1f1;
}

.ContactText {
    width: 370px;
    margin-bottom: 20px;
}

.ContactTitle {
    margin-top: 0;
    padding-top: 100px;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 300;
    color: black;
}

.ContactSubTitle {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
}

.ContactDescription {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

.ContactForm {
    justify-content: center;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.ButtonContactWrapper {
    display: block;
    margin: 0 auto;
    width: 230px;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: unset;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input::placeholder {
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
    color: #497577;
}

.PrivatPolicy {
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 38px;
}

#mc-embedded-subscribe {}

input[type="submit"]:disabled {
    opacity: .5;
    cursor: not-allowed;
}

@media screen and (max-width: 468px) {
    .ContactText {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 300px;
    }
    .Button {
        display: block;
        text-decoration: none;
    }
    .PrivatPolicy {
        text-align: center;
        width: 300px;
    }
}