/* div {
    display: unset;
} */

.SliderWrapper {}

.Slide {
    /* display: flex !important; */
    flex-direction: row;
    justify-content: space-between;
}

.Slide img {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.slick-next,
.slick-prev {
    color: black !important;
}

.slick-next:before,
.slick-prev:before {
    color: black !important;
}