.WorkWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #e3e3e3;
    background-image: url(../../img/workbg.png);
    background-repeat: no-repeat;
    background-position: calc(100vw - 41vw) top;
}

.WorkContent {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1328px;
    justify-content: space-between;
}

.WorkContentPageTitle {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 1328px;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 300;
    color: black;
    padding: 50px 0px;
}

.WorkContentText {
    text-align: center;
    background-color: white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.WorkContentTextTitle {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
}

.ButtonWorkWrapper {
    padding: 35px;
    margin: 0 auto;
}

.WorkContentItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
}

.contractwork {
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 1268px) {
    .WorkContent {
        display: block;
    }
    .WorkContentItem {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .WorkWrapper {
        background-position: calc(100vw - 71vw) top;
    }
}